
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">e-ticaret</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kategoriler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link me-5" href="#">Sepet</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success me-3" type="submit">Ara</button>

      </form>
      <ul class="navbar-nav  mb-2 mb-lg-0">
        <li class="nav-item">
          <button class="btn btn-outline-warning me-2" href="/auth">Log İn</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-outline-warning me-2">Sign İn</button>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="row">
  <div class="col-10 offset-1">
    <h3 class="text-center">Ürünler</h3>
    <table class="table table-dark table-borderless ">
      <tbody>
        <tr>
          <td>
            <img src="/assets/marul1.jpg" alt="marul" height="72" /><br>
            <button class="btn btn-danger">Favori</button>
            <button class="btn btn-success">Sepet</button>
          </td>
          <td>
            <img src="/assets/marul2.jpg" alt="marul" height="72" /><br>
            <button class="btn btn-danger">Favori</button>
            <button class="btn btn-success">Sepet</button>
          </td>
          <td>
            <img src="/assets/üzüm.jpg" alt="üzüm" height="72" /><br>
            <button class="btn btn-danger">Favori</button>
            <button class="btn btn-success">Sepet</button>
          </td>
          <td>
            <img src="/assets/çilek.jpg" alt="çilek" height="72" /><br>
            <button class="btn btn-danger">Favori</button>
            <button class="btn btn-success">Sepet</button>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/assets/karpuz.jpg" alt="karpuz" height="72" /><br>
            <button class="btn btn-danger">Favori</button>
            <button class="btn btn-success">Sepet</button>
          </td>
          <td>
            <img src="/assets/telefon.jpg" alt="telefon" height="72" /><br>
            <button class="btn btn-danger">Favori</button>
            <button class="btn btn-success">Sepet</button>
          </td>
          <td>
            <img src="/assets/monitor.jpg" alt="monitor" height="72" /><br>
            <button class="btn btn-danger">Favori</button>
            <button class="btn btn-success">Sepet</button>
          </td>
          <td>
            <img src="/assets/mous.jpg" alt="mous" height="72" /><br>
            <button class="btn btn-danger">Favori</button>
            <button class="btn btn-success">Sepet</button>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/assets/klavye.jpg" alt="klavye" height="72" /><br>
            <button class="btn btn-danger">Favori</button>
            <button class="btn btn-success">Sepet</button>
          </td>
          <td>
            <img src="/assets/marul1.jpg" alt="marul" height="72" /><br>
            <button class="btn btn-danger">Favori</button>
            <button class="btn btn-success">Sepet</button>
          </td>
          <td>
            <img src="/assets/marul1.jpg" alt="marul" height="72" /><br>
            <button class="btn btn-danger">Favori</button>
            <button class="btn btn-success">Sepet</button>
          </td>
          <td>
            <img src="/assets/marul1.jpg" alt="marul" height="72" /><br>
            <button class="btn btn-danger">Favori</button>
            <button class="btn btn-success">Sepet</button>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/assets/marul1.jpg" alt="marul" height="72" /><br>
            <button class="btn btn-danger">Favori</button>
            <button class="btn btn-success">Sepet</button>
          </td>
          <td>
            <img src="/assets/marul1.jpg" alt="marul" height="72" /><br>
            <button class="btn btn-danger">Favori</button>
            <button class="btn btn-success">Sepet</button>
          </td>
          <td>
            <img src="/assets/marul1.jpg" alt="marul" height="72" /><br>
            <button class="btn btn-danger">Favori</button>
            <button class="btn btn-success">Sepet</button>
          </td>
          <td>
            <img src="/assets/marul1.jpg" alt="marul" height="72" /><br>
            <button class="btn btn-danger">Favori</button>
            <button class="btn btn-success">Sepet</button>
          </td>
        </tr>
        <tr>
          <td>
            <img src="/assets/marul1.jpg" alt="marul" height="72" /><br>
            <button class="btn btn-danger">Favori</button>
            <button class="btn btn-success">Sepet</button>
          </td>
          <td>
            <img src="/assets/marul1.jpg" alt="marul" height="72" /><br>
            <button class="btn btn-danger">Favori</button>
            <button class="btn btn-success">Sepet</button>
          </td>
          <td>
            <img src="/assets/marul1.jpg" alt="marul" height="72" /><br>
            <button class="btn btn-danger">Favori</button>
            <button class="btn btn-success">Sepet</button>
          </td>
          <td>
            <img src="/assets/marul1.jpg" alt="marul" height="72" /><br>
            <button class="btn btn-danger">Favori</button>
            <button class="btn btn-success">Sepet</button>
          </td>
        </tr>
    </tbody>
  </table>

  </div>
</div>